// footer home page

.freeTrials{
  padding: 7% 0;
  h3{
  @include fontsH3(45px, 58px, 4.9px);
}
  p{
    @include fontsP (20px, 32px, 2px);
    text-align: left;
  }
}
.findMore{
    @include buttonStyle(2%, 1%);
  }
.copyright{
  width: 100%;
  text-align: center;
  @include fontsP(20px, 32px, 2px);
}   
//footer blog
.copyBlog{
  width: 48%;
  text-align: right;
  @include fontsP(20px, 32px, 2px);
  @media screen and(max-width: $breakMedSmall){
    width: 100%;
    margin: 0;
    text-align: center;
  }
}