// footer home page

.freeTrials{
  padding: 7% 0;
}

.freeTrials h3{
  @include fontsH3(45px, 58px, 4.9px);
}
.freeTrials p{
    @include fontsP (20px, 32px, 2px);
  }
.findMore{
    @include buttonStyle(2%, 1%);
  }
.copyright{
  width: 100%;
  text-align: center;
  @include fontsP(20px, 32px, 2px);
}   


//footer blog
.copyBlog{
  width: 48%;
  text-align: right;
  @include fontsP(20px, 32px, 2px);
}