
// set background color/images
.brownBack{
  background: #1e140e;
}
.charcoalBack{
  background: #262725;
}
.yogaGroup{
  background-image: url(../assets/banner-image.jpg);
  background-position: center center;
  height:60vh;
  background-size: cover;
  background-repeat: no-repeat;
}
