
// set background color/images
.brownBack{
  background: #1e140e;
}
.charcoalBack{
  background: #262725;
}
.yogaGroup{
  background-image: url(../assets/banner-image.jpg);
  background-position: center center;
  height:60vh;
  background-size: cover;
  background-repeat: no-repeat;
}
// adventures styling

  .adventures{
    display: flex;
    flex-direction: row;
    padding: 15% 0;
    justify-content: space-between;

    .adventuresText{
      width: 70%;
      margin-right: 5%;
    }
      .adventuresText h3{
        @include fontsH3(45px, 58px, 4.9px);
      }
      .adventuresText p{
        @include fontsP(20px, 32px, 2px);
      }
      .findMore{
        @include buttonStyle(2%, 1%);
      }
    .adventuresPic{
      width: 25%;
      box-shadow: -20px 20px #555f02;
    }
  }

  // gallery styling
  .gallery{
    display: flex;
    justify-content: space-between;
    padding: 5% 0;
  }
  // icons styling
  .icons{
    display: flex;
    flex-direction: column;
    padding: 10% 0;

    .iconRowOne,
    .iconRowTwo{
      display: flex;
      margin: 1% auto;   

      .iconText{
        margin-left: 2%;
      }
      .iconOne,
      .iconTwo,
      .iconThree,
      .iconFour{
        display: flex;      

        .iconText h3,
        .iconText h3,
        .iconText h3,
        .iconText h3{
          @include fontsH3(45px, 58px, 4.9px);
        }
        .iconText p,
        .iconText p,
        .iconText p,
        .iconText p{
          @include fontsP(20px, 32px, 2px);
        }
      }  
      .fas, .far{
          @include iconStyle(50px);
      }
    }
  }
  // Group Programs styling
  .groupPrograms,
  .newLocations{
    display: flex;
  }
  .groupPrograms,
  .newLocations{
    padding: 5% 0;
  }  

    .groupProgramsText{
      width: 40%;
      margin: 0 10%;
    }
    .newLocationsText{
      width: 40%;
      margin: 0 10%;
    }
    .groupProgramsPic,
    .newLocationsPic{
      width: 50%;
    }
    .groupProgramsPic{
      box-shadow: 20px 20px #ffc600;
      margin-top: -8%;
      margin-right: 10%;
    }
    .newLocationsPic{
      box-shadow: -20px 20px #ffc600;
      margin-bottom: -8%;
      margin-left: 10%;
    }

      .groupProgramsText h3,
      .newLocationsText h3{
        @include fontsH3(45px, 58px, 4.9px);
      }
      .rightButton,
      .newLocationsText h3{
        text-align: right;
      }
      .groupProgramsText p,
      .newLocationsText p{
        @include fontsP(20px, 32px, 2px); 
      }
      .readMore{
        @include buttonStyle(3%, 3%);
      }
