article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
ul,
p,
a,
img {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

h1, h2, h3, h4, h5, a, p, li, i {
  color: #fafffe;
}

a:focus,
input:focus,
button:focus,
select:focus,
textarea:focus {
  text-decoration: underline;
  color: #ffc600;
}

.wrapper {
  margin: 0 10%;
}

header {
  background-image: url(../assets/home-image-1.jpg);
  background-position: center center;
  height: 110vh;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1114px) {
  header {
    height: 90vh;
  }
}

@media screen and (max-width: 900px) {
  header {
    height: 85vh;
    background-position: right;
  }
}

.upperHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 900px) {
  .upperHeader {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.upperHeader .mainTitle,
.upperHeader .navbar {
  width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .upperHeader .mainTitle {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .upperHeader .mainTitle {
    margin-top: 10%;
  }
}

@media screen and (max-width: 380px) {
  .upperHeader .mainTitle {
    margin-top: 15%;
  }
}

.upperHeader .mainTitle h1 {
  font-family: 'Dokdo', cursive;
  font-size: 41.5px;
  color: #ffc600;
  line-height: 58px;
  letter-spacing: 4.3px;
}

.upperHeader .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 900px) {
  .upperHeader .navbar {
    width: 100%;
    padding-top: 3%;
  }
}

@media screen and (max-width: 600px) {
  .upperHeader .navbar {
    display: none;
  }
}

.upperHeader .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 1px;
}

.upperHeader .navbar ul li a {
  position: relative;
  z-index: 1;
}

.upperHeader .navbar ul li a:hover {
  color: #000;
}

.upperHeader .navbar ul li a:after {
  display: block;
  position: absolute;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #ffc600;
  opacity: 0;
  z-index: -1;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.upperHeader .navbar ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.upperHeader .hamburger {
  visibility: hidden;
}

@media screen and (max-width: 600px) {
  .upperHeader .hamburger {
    visibility: visible;
    position: absolute;
    right: 2%;
    top: 1%;
    font-size: 30px;
    color: #fcfbfb;
  }
}

.headerBot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15%;
}

@media screen and (max-width: 900px) {
  .headerBot {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10%;
  }
}

@media screen and (max-width: 900px) {
  .headerBot .headerPic img {
    display: none;
  }
}

.headerBot .headerPic,
.headerBot .headerTextR {
  width: 50%;
}

.headerBot .headerTextR {
  margin: 2% 5%;
  height: 100%;
}

@media screen and (max-width: 900px) {
  .headerBot .headerTextR {
    display: none;
  }
}

.headerBot .headerTextR p {
  font-size: 45px;
  font-family: 'Lato', sans-serif;
}

.headerBot .headerTextR h2 {
  font-family: 'Dokdo', cursive;
  font-size: 115px;
  color: #ffc600;
  width: 100%;
}

@media screen and (max-width: 1114px) {
  .headerBot .headerTextR h2 {
    font-size: 100px;
  }
}

.freeTrials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.blogHeader {
  background-image: url(../assets/blog-image-1.jpg);
  background-position: center center;
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.greenBorder {
  border: 2px solid #555f02;
}

.contactHeader {
  background-image: url(../assets/contact-image-1.jpg);
  background-position: center center;
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.brownBack {
  background: #1e140e;
}

.charcoalBack {
  background: #262725;
}

.yogaGroup {
  background-image: url(../assets/banner-image.jpg);
  background-position: center center;
  height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.adventures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 15% 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1114px) {
  .adventures {
    padding: 10% 0;
  }
}

@media screen and (max-width: 1050px) {
  .adventures {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 1% 0;
  }
}

.adventures .adventuresText {
  width: 70%;
  margin-right: 5%;
}

@media screen and (max-width: 1114px) {
  .adventures .adventuresText {
    width: 50%;
  }
}

@media screen and (max-width: 1050px) {
  .adventures .adventuresText {
    width: 100%;
    margin: 2% 0;
  }
}

.adventures .adventuresText h3 {
  font-family: 'Dokdo', cursive;
  font-size: 45px;
  line-height: 58px;
  letter-spacing: 4.9px;
  color: #ffc600;
}

@media screen and (max-width: 600px) {
  .adventures .adventuresText h3 {
    text-align: center;
  }
}

.adventures .adventuresText p {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 2px;
  font-weight: 400;
}

@media screen and (max-width: 600px) {
  .adventures .adventuresText p {
    text-align: center;
  }
}

.adventures .findMore {
  background: #555f02;
  color: #fafffe;
  font-size: 20px;
  font-family: 'Dokdo', cursive;
  padding: 1%;
  margin-top: 2%;
  border: none;
  text-transform: capitalize;
}

@media screen and (max-width: 1114px) {
  .adventures .findMore {
    padding: 2%;
    margin-top: 5%;
  }
}

@media screen and (max-width: 600px) {
  .adventures .findMore {
    width: 100%;
  }
}

.adventures .adventuresPic {
  width: 30%;
}

@media screen and (max-width: 1114px) {
  .adventures .adventuresPic {
    width: 50%;
  }
}

@media screen and (max-width: 1050px) {
  .adventures .adventuresPic {
    width: 100%;
  }
}

.adventures .adventuresPic img {
  -webkit-box-shadow: -15px 15px #555f02;
          box-shadow: -15px 15px #555f02;
}

@media screen and (max-width: 1050px) {
  .adventures .adventuresPic img {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@media screen and (max-width: 900px) {
  .adventures .adventuresPic img {
    border-radius: 50%;
  }
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5% 0;
}

@media screen and (max-width: 900px) {
  .gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.galleryImg {
  width: 31%;
}

@media screen and (max-width: 900px) {
  .galleryImg {
    width: 100%;
    margin: 1% 0;
  }
}

@media screen and (max-width: 900px) {
  .galleryImg img {
    border-radius: 50%;
  }
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10% 0;
}

.icons .iconRowOne,
.icons .iconRowTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1% auto;
}

@media screen and (max-width: 1114px) {
  .icons .iconRowOne,
  .icons .iconRowTwo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.icons .iconRowOne .iconOne,
.icons .iconRowOne .iconTwo,
.icons .iconRowOne .iconThree,
.icons .iconRowOne .iconFour,
.icons .iconRowTwo .iconOne,
.icons .iconRowTwo .iconTwo,
.icons .iconRowTwo .iconThree,
.icons .iconRowTwo .iconFour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1114px) {
  .icons .iconRowOne .iconOne,
  .icons .iconRowOne .iconTwo,
  .icons .iconRowOne .iconThree,
  .icons .iconRowOne .iconFour,
  .icons .iconRowTwo .iconOne,
  .icons .iconRowTwo .iconTwo,
  .icons .iconRowTwo .iconThree,
  .icons .iconRowTwo .iconFour {
    margin: 1% 0;
  }
}

@media screen and (max-width: 380px) {
  .icons .iconRowOne .iconOne,
  .icons .iconRowOne .iconTwo,
  .icons .iconRowOne .iconThree,
  .icons .iconRowOne .iconFour,
  .icons .iconRowTwo .iconOne,
  .icons .iconRowTwo .iconTwo,
  .icons .iconRowTwo .iconThree,
  .icons .iconRowTwo .iconFour {
    margin: 5% 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.icons .iconRowOne .iconOne .iconText,
.icons .iconRowOne .iconTwo .iconText,
.icons .iconRowOne .iconThree .iconText,
.icons .iconRowOne .iconFour .iconText,
.icons .iconRowTwo .iconOne .iconText,
.icons .iconRowTwo .iconTwo .iconText,
.icons .iconRowTwo .iconThree .iconText,
.icons .iconRowTwo .iconFour .iconText {
  margin-left: 2%;
}

.icons .iconRowOne .iconOne .iconText h3,
.icons .iconRowOne .iconTwo .iconText h3,
.icons .iconRowOne .iconThree .iconText h3,
.icons .iconRowOne .iconFour .iconText h3,
.icons .iconRowTwo .iconOne .iconText h3,
.icons .iconRowTwo .iconTwo .iconText h3,
.icons .iconRowTwo .iconThree .iconText h3,
.icons .iconRowTwo .iconFour .iconText h3 {
  font-family: 'Dokdo', cursive;
  font-size: 40px;
  line-height: 58px;
  letter-spacing: 4.3px;
  color: #ffc600;
}

.icons .iconRowOne .iconOne .iconText p,
.icons .iconRowOne .iconTwo .iconText p,
.icons .iconRowOne .iconThree .iconText p,
.icons .iconRowOne .iconFour .iconText p,
.icons .iconRowTwo .iconOne .iconText p,
.icons .iconRowTwo .iconTwo .iconText p,
.icons .iconRowTwo .iconThree .iconText p,
.icons .iconRowTwo .iconFour .iconText p {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 2px;
  font-weight: 400;
}

.icons .iconRowOne .icon-background,
.icons .iconRowTwo .icon-background {
  color: #555f02;
}

.groupPrograms,
.newLocations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.groupPrograms {
  padding: 5% 0;
}

@media screen and (max-width: 1300px) {
  .groupPrograms {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
}

.newLocations {
  padding: 0 0 3%;
}

@media screen and (max-width: 1300px) {
  .newLocations {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.groupProgramsText,
.newLocationsText {
  width: 40%;
  margin: 0 10%;
}

@media screen and (max-width: 1300px) {
  .groupProgramsText,
  .newLocationsText {
    width: 100%;
    padding: 5% 10%;
    margin: 0 auto;
  }
}

.groupProgramsPic,
.newLocationsPic {
  width: 53%;
}

@media screen and (max-width: 1300px) {
  .groupProgramsPic,
  .newLocationsPic {
    width: 100%;
  }
}

.groupProgramsPic {
  margin-top: -7%;
  margin-right: 10%;
}

@media screen and (max-width: 1300px) {
  .groupProgramsPic {
    margin: 0 0 5%;
  }
}

.groupProgramsPic img {
  -webkit-box-shadow: 15px 15px #ffc600;
          box-shadow: 15px 15px #ffc600;
}

@media screen and (max-width: 1300px) {
  .groupProgramsPic img {
    -webkit-box-shadow: 0px 0px 0px 10px #ffc600;
            box-shadow: 0px 0px 0px 10px #ffc600;
  }
}

.newLocationsPic {
  margin-bottom: -10%;
  margin-left: 10%;
}

@media screen and (max-width: 1300px) {
  .newLocationsPic {
    margin: 5% 0;
  }
}

.newLocationsPic img {
  -webkit-box-shadow: -15px 15px #ffc600;
          box-shadow: -15px 15px #ffc600;
}

@media screen and (max-width: 1300px) {
  .newLocationsPic img {
    -webkit-box-shadow: 0px 0px 0px 10px #ffc600;
            box-shadow: 0px 0px 0px 10px #ffc600;
  }
}

.groupProgramsText h3,
.newLocationsText h3 {
  font-family: 'Dokdo', cursive;
  font-size: 45px;
  line-height: 58px;
  letter-spacing: 4.9px;
  color: #ffc600;
}

.rightButton,
.newLocationsText h3 {
  text-align: right;
}

.groupProgramsText p,
.newLocationsText p {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 2px;
  font-weight: 400;
}

.readMore {
  background: #555f02;
  color: #fafffe;
  font-size: 20px;
  font-family: 'Dokdo', cursive;
  padding: 2% 5%;
  margin-top: 3%;
  border: none;
  text-transform: capitalize;
}

.mainOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5% 0;
}

@media screen and (max-width: 900px) {
  .mainOne {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.containerBlog {
  width: 60%;
}

@media screen and (max-width: 900px) {
  .containerBlog {
    width: 100%;
  }
}

.blogSpot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 900px) {
  .blogSpot {
    margin-top: -10%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.blogSpot h2 {
  font-family: 'Dokdo', cursive;
  font-size: 105px;
  line-height: 69.6px;
  letter-spacing: 10.9px;
  color: #ffc600;
}

@media screen and (max-width: 900px) {
  .blogSpot h2 {
    text-align: center;
  }
}

.gongPic {
  margin-top: -25%;
}

.gongPic img {
  -webkit-box-shadow: 14px 15px #555f02;
          box-shadow: 14px 15px #555f02;
}

@media screen and (max-width: 900px) {
  .gongPic img {
    -webkit-box-shadow: 0px 10px 0px 10px #555f02;
            box-shadow: 0px 10px 0px 10px #555f02;
  }
}

.belowGong {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.gongText {
  border-width: 0 6px 6px 0;
  border-style: solid;
  border-color: #555f02;
  padding-left: 16%;
  margin-right: -14px;
}

@media screen and (max-width: 900px) {
  .gongText {
    padding: 10%;
    border-width: 0 0 6px 0;
  }
}

.gongText h3 {
  font-family: 'Dokdo', cursive;
  font-size: 45px;
  line-height: 58px;
  letter-spacing: 4.9px;
  color: #ffc600;
  padding-top: 5%;
}

.gongText p {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 2px;
  font-weight: 400;
}

.gongText p:first-of-type {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-style: italic;
}

.gongText p span {
  font-weight: 700;
}

.gongText p {
  padding: 2% 2% 2% 0;
}

aside {
  width: 25%;
}

@media screen and (max-width: 900px) {
  aside {
    display: none;
  }
}

.stackedRocks img {
  -webkit-box-shadow: -15px 15px #555f02;
          box-shadow: -15px 15px #555f02;
}

.asideTextContainer {
  background: #555f02;
  border-width: 6px 0 6px 6px;
  border-style: solid;
  border-color: #555f02;
  margin-left: -15px;
}

.mission,
.recent {
  padding: 3%;
}

h4 {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  line-height: 32px;
  letter-spacing: 2px;
  font-weight: 400;
  font-family: 'Dokdo', cursive;
  padding: 2% 0;
}

.mission p,
.recent li a {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 2px;
  font-weight: 400;
}

.recent ul {
  padding-left: 3%;
}

.recent ul li {
  list-style-type: disc;
  color: #ffc600;
}

.commentsContainer {
  width: 60%;
}

@media screen and (max-width: 900px) {
  .commentsContainer {
    width: 100%;
  }
}

.commentsContainer h3 {
  font-family: 'Dokdo', cursive;
  font-size: 45px;
  line-height: 58px;
  letter-spacing: 4.9px;
  color: #ffc600;
  color: #fafffe;
  padding-bottom: 2%;
}

@media screen and (max-width: 900px) {
  .commentsContainer h3 {
    text-align: center;
  }
}

.commentImageOne,
.commentImageTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5% 0;
}

@media screen and (max-width: 380px) {
  .commentImageOne,
  .commentImageTwo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.commentImageOne h4,
.commentImageTwo h4 {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 2px;
  font-weight: 400;
  color: #ffc600;
}

.commentImageOne p,
.commentImageTwo p {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 2px;
  font-weight: 400;
}

.commentImage {
  width: 20%;
  padding-right: 5%;
}

@media screen and (max-width: 600px) {
  .commentImage {
    width: 50%;
  }
}

.commentText {
  width: 80%;
}

@media screen and (max-width: 600px) {
  .commentText {
    width: 100%;
  }
}

.blogForm {
  padding-bottom: 5%;
}

.nameEmailContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
}

@media screen and (max-width: 900px) {
  .nameEmailContainer {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .nameEmailContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.nameEmailContainer label {
  color: #fafffe;
}

.nameInput,
.emailInput {
  border-bottom: 1px solid #ffc600;
  width: 40%;
}

@media screen and (max-width: 600px) {
  .nameInput,
  .emailInput {
    width: 100%;
    margin: 5% 0;
  }
}

.nameInput input,
.emailInput input {
  padding: 0 0 10% 10%;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 2px;
  font-weight: 400;
}

@media screen and (max-width: 600px) {
  .nameInput input,
  .emailInput input {
    padding: 0 0 3% 5%;
  }
}

input,
textarea {
  border: none;
  background: #1e140e;
  color: #fafffe;
  width: 100%;
  resize: none;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 2px;
  font-weight: 400;
}

.commentsInput {
  width: 60%;
  border: 1px solid #ffc600;
  margin: 5% 0;
  padding: 1% 1%;
}

@media screen and (max-width: 900px) {
  .commentsInput {
    width: 100%;
  }
}

.commentButton {
  width: 60%;
  background: #555f02;
  color: #fafffe;
  font-size: 20px;
  font-family: 'Dokdo', cursive;
  padding: 1% 5%;
  margin-top: 2% 0;
  border: none;
  text-transform: capitalize;
  font-size: 30px;
}

@media screen and (max-width: 900px) {
  .commentButton {
    width: 100%;
  }
}

.contactForm {
  margin-top: -17%;
  width: 100%;
}

.contactForm input,
.contactForm textarea {
  background: #262725;
}

.boxShadowForm {
  -webkit-box-shadow: 15px 15px #ffc600;
          box-shadow: 15px 15px #ffc600;
}

@media screen and (max-width: 900px) {
  .boxShadowForm {
    -webkit-box-shadow: 0px 15px #ffc600;
            box-shadow: 0px 15px #ffc600;
  }
}

.nameEmailContainerContact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding-top: 5%;
}

@media screen and (max-width: 600px) {
  .nameEmailContainerContact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.commentsInputContact {
  width: 90%;
  border: 1px solid #ffc600;
  margin: 5% auto;
  padding: 1% 1%;
}

.contactButton {
  text-align: center;
}

.messageButton {
  width: 90%;
  background: #555f02;
  color: #fafffe;
  font-size: 20px;
  font-family: 'Dokdo', cursive;
  padding: 1% 5%;
  margin-top: 2% 0;
  border: none;
  text-transform: capitalize;
  font-size: 30px;
  margin-bottom: 5%;
}

.infoContainer {
  width: 20%;
  margin-top: 10%;
  margin-left: 5%;
}

@media screen and (max-width: 900px) {
  .infoContainer {
    width: 90%;
    margin: 10% auto;
  }
}

.infoContainer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
}

@media screen and (max-width: 900px) {
  .infoContainer ul {
    width: 100%;
  }
}

.infoContainer li i {
  font-size: 20px;
  color: #ffc600;
}

@media screen and (max-width: 900px) {
  .infoContainer li i {
    font-size: 40px;
  }
}

@media screen and (max-width: 380px) {
  .infoContainer li i {
    font-size: 30px;
  }
}

@media screen and (max-width: 900px) {
  .contactInfo {
    text-align: center;
  }
}

.contactInfo p {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 2px;
  font-weight: 400;
}

.contactInfo p:first-child {
  padding: 10% 0;
}

@media screen and (max-width: 900px) {
  .contactInfo p:first-child {
    padding: 5% 0;
  }
}

.contactInfo p:last-child {
  text-transform: uppercase;
}

.freeTrials {
  padding: 7% 0;
}

.freeTrials h3 {
  font-family: 'Dokdo', cursive;
  font-size: 45px;
  line-height: 58px;
  letter-spacing: 4.9px;
  color: #ffc600;
}

.freeTrials p {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 2px;
  font-weight: 400;
  text-align: left;
}

.findMore {
  background: #555f02;
  color: #fafffe;
  font-size: 20px;
  font-family: 'Dokdo', cursive;
  padding: 1%;
  margin-top: 2%;
  border: none;
  text-transform: capitalize;
}

.copyright {
  width: 100%;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 2px;
  font-weight: 400;
}

.copyBlog {
  width: 48%;
  text-align: right;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 2px;
  font-weight: 400;
}

@media screen and (max-width: 900px) {
  .copyBlog {
    width: 100%;
    margin: 0;
    text-align: center;
  }
}
