article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
ul,
p,
a,
img {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, a, p, li, i {
  color: white;
}

.wrapper {
  max-width: 1250px;
  margin: 0 auto;
}

header {
  background-image: url(../assets/home-image-1.jpg);
  background-position: center center;
  height: 110vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.upperHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.upperHeader .mainTitle,
.upperHeader .navbar {
  width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.upperHeader .mainTitle h1 {
  font-family: 'Dokdo', cursive;
  font-size: 41.5px;
  color: #ffc600;
  line-height: 58px;
  letter-spacing: 4.3px;
}

.upperHeader .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.upperHeader .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 1px;
}

.headerBot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15%;
}

.headerBot .headerPic {
  width: 45%;
}

.headerBot .headerTextR {
  width: 55%;
  margin: 3% 0 0 5%;
}

.headerBot .headerTextR p {
  font-size: 45px;
  font-family: 'Lato', sans-serif;
}

.headerBot .headerTextR h2 {
  font-family: 'Dokdo', cursive;
  font-size: 115px;
  color: #ffc600;
}

.blogHeader {
  background-image: url(../assets/blog-image-1.jpg);
  background-position: center center;
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.greenBorder {
  border: 2px solid #555f02;
}

.contactHeader {
  background-image: url(../assets/contact-image-1.jpg);
  background-position: center center;
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.formContact {
  width: 500px;
  height: 500px;
}

.brownBack {
  background: #1e140e;
}

.charcoalBack {
  background: #262725;
}

.yogaGroup {
  background-image: url(../assets/banner-image.jpg);
  background-position: center center;
  height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.adventures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 15% 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.adventures .adventuresText {
  width: 70%;
  margin-right: 5%;
}

.adventures .adventuresText h3 {
  font-family: 'Dokdo', cursive;
  font-size: 45px;
  line-height: 58px;
  letter-spacing: 4.9px;
  color: #ffc600;
}

.adventures .adventuresText p {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 2px;
  font-weight: 400;
}

.adventures .findMore {
  background: #555f02;
  color: #fafffe;
  font-size: 20px;
  font-family: 'Dokdo', cursive;
  padding: 1%;
  margin-top: 2%;
  border: none;
  text-transform: capitalize;
}

.adventures .adventuresPic {
  width: 25%;
  -webkit-box-shadow: -20px 20px #555f02;
          box-shadow: -20px 20px #555f02;
}
